body {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 120px;
  background: #8FE1D4;
}

header h1 {
  position: absolute;
  top: 15px;
  left: 440px;
  width: 150px;
  margin: 0;
  padding: 40px 20px;
  border: 7px solid #fff;
  border-radius: 100px;
  background: #ffa7d2;
  font-weight: 400;
  font-size: 2.8rem;
  text-align: center;
  color: #fff;
}

header p {
  margin-right: 20px;
  margin-bottom: 8px;
  letter-spacing: 0.1rem;
  color: #fff;
}